#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Pandas
3. Matplotlib

|Data Science Tools|
|---|
|Google Colab|
|Jupyter Notebook|
|Apache Hadoop|
|PySpark|

###Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
min = 200
hrs = min/60 #This will convert 200 minutes to hours by diving by 60
print(f'{hrs} hrs')

3.3333333333333335 hrs

**Objectives:**

* Popular Languages for Data Scientists
* Commonly Used Libraries used by Data Scientists
* Data Science Tools
* Examples of Evaluating Arithmetic Expressions in Python

##Author
Firdaus